# Allgemeines
*.log
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log

# IDEs und Editor-Dateien
/.fleet
/.idea
/.vscode
/.zed

# Umgebungsdateien
.env
.env.backup
.env.production
auth.json
Homestead.json
Homestead.yaml

# Node-Module
/node_modules

# Öffentlich generierte Dateien
/public/hot
/public/storage
/public/build

# Test & Cache
.phpunit.result.cache
/.phpunit.cache
/phpactor.json

# Laravel-spezifisch
/storage/*.key
/storage/pail
/vendor
/bootstrap/cache
