# Allgemeines
*.log
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log

# IDEs und Editor-Dateien
/.fleet
/.idea
/.vscode
/.zed

# Umgebungsdateien
.env
.env.backup
.env.production
auth.json
Homestead.json
Homestead.yaml

# Node-Module
/node_modules

# Öffentlich generierte Dateien
/public/hot
/public/storage

# Test & Cache
.phpunit.result.cache
/.phpunit.cache
/phpactor.json

# Laravel-spezifisch
/storage/*.key
/storage/pail

# >>> NICHT ignorieren für Deployment
# /vendor               ← entfernt, damit `vendor/` getrackt wird
# /bootstrap/cache      ← entfernt, damit gecachte Dateien mitkommen
